.search-row{
	margin-top:25px;
}

.search-prod{
	border:1px solid white;
	border-radius:25px;
}

.search-prod:hover{
	border:1px solid orange;
	border-radius:25px;
}

.product-desc{
	margin-top:7px;
}
.product-links a{
	margin-top:12px;
	margin-bottom:7px;
	text-decoration:none;
	color:black;
	background-color:#ff9933;
	border-radius:25px;
	border:1px solid #ff9933;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
}
.product-links a:hover{
	margin-top:12px;
	margin-bottom:7px;
	text-decoration:none;
	color:white;
	background-color:#ff3300;
	border-radius:25px;
	border:1px solid #ff3300;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
}

.product-links{
	margin-bottom:20px;
}

.search-details{
	margin-top:10px;
}

#aside ul li{
	list-style-type: none;
}

#aside a{
	display:inline-block;
	text-decoration:none;
	color:black;
	background-color:white;
	border-radius:25px;
	border:1px solid white;
	margin-top:8px;
	width:80%;
}
#aside a:hover{
	display:inline-block;
	text-decoration:none;
	color:white;
	background-color:#ffff33;
	border-radius:25px;
	border:1px solid #ffff33;
	margin-top:8px;
	width:80%;
}