RewriteEngine On
RewriteBase /

#Rule 1: Look for the article title
RewriteRule   ^([a-z-]+)/?$   index.php?page=$1   [L]

#Rule 2: Look for the article title with id
RewriteRule   ^([a-z-]+)/([0-9]+)/?$   index.php?page=$1&id=$2   [L]

#Rule 3: Because of link rewriting, relative addresses to assets will return 404 because of Rule 2, that is why we rewrite them as well
RewriteRule   ^(.+)/assets/(.+)?$   assets/$2   [L]

#Rule 4: API model/action
RewriteRule   ^([a-z-]+)/([a-z-]+)$   api.php  [L]

#Rule 5: API model/action with id
RewriteRule   ^([a-z-]+)/([a-z-]+)/([0-9]+)$   api.php?id=$3 [L]

php_flag log_errors on
php_value error_log HOME-PATH/public_html/php_errors/PHP_errors.log