#footer{
	background-color:#ff3300;
}
#footerRight{
	color:white;
	margin-top:10px;
}
#footerLeft{
	margin-top:10px;
}
#footerLeft ul{
	list-style-type: none;
}
#footerLeft a{
	display:inline-block;
	text-decoration: none;
	color:white;
	border: 1px solid #ff3300;
	border-radius:25px;
}

#footerLeft a:hover{
	display:inline-block;
	background-color: #ffff33;
	text-decoration: none;
	color:black;
	border-radius:25px;
	border: 1px solid #ff9933;
	width:75%;
}