.formRow{
	margin-top: 35px;
}
.formBtn{
	margin-bottom:15px;
	background-color: #b30000;
	border: none;
	color: white;
	padding: 5px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	border:1px solid #b30000;
}
.formBtn:hover{
	margin-bottom:15px;
	background-color: #ff3300;
	border: none;
	color: black;
	padding: 5px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	border:1px solid #b30000;
}
.err{
	color:red;
}
#errList{
	font-size: 18px;
	color:red;
}

.dropdown-menu {
  width: 450px; 
  position:relative;
}

.num-of-prod{
	position:relative;
	left:0px;
}